@import 'tailwindcss';

.html,
body {
	/* background-color: #37392e; */
}

@theme {
	--color-primary: #faf6f6; /* RGB format */
	--color-secondary: #a9a9a9;
	--color-back: #19647e;
	--color-highlight: #696969;

	--shadow-flat: 3px 3px 0px black;
	--shadow-hover: 0px 0px 0px black;
	--translate-adjust: -3px;
	--translate-reset: 0px;
	--font-jersey: 'Jersey 15', cursive;
	--font-ovo: 'Ovo', cursive;
	--font-sigmar: 'Sigmar', cursive;
}

.midi {
	@apply shadow-flat hover:shadow-hover hover:translate-reset translate-adjust active:shadow-hover active:translate-reset rounded border-2 border-black transition-all;
}
